* {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
}
.landing-page {
  width: 100%;
  height: 100vh;
  background: #6f42c1; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #9733ee, #6f42c1); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #9733ee, #6f42c1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  overflow: hidden;
}
.landing-page::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/cover4.png) no-repeat;
  background-size: contain;
  background-position: right;
  opacity: 0.3;
  animation: anim 60s linear infinite;
}
@keyframes anim {
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.page-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 0 40px;
  box-sizing: border-box;
}
.page-content h1 {
  color: #230953;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
}
.page-content p {
  color: #fff;
  margin-bottom: 20px;
}

.text {
  padding: 10px;
  text-align: justify;
}
.text div {
  margin-bottom: 1rem;
}

/* GALLERY */
.gallery-section {
  width: 100%;
  padding: 30px 0;
}

.inner-width {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 1px;
}

.gallery-section h1 {
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

.border {
  width: 180px;
  height: 4px;
  background: #5900ff;
  margin: 60px auto;
}

.gallery-section .gallery {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.gallery-section .image {
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
  padding: 10px;
}

.gallery-section .image img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.gallery-section .image:hover img {
  transform: scale(1.1);
}

@media screen and (max-width: 960px) {
  .gallery-section .image {
    flex: 33.33%;
  }
}

@media screen and (max-width: 768px) {
  .gallery-section .image {
    flex: 50%;
  }
}

@media screen and (max-width: 480px) {
  .gallery-section .image {
    flex: 100%;
  }
}

/* FLORALES */
.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
  background: linear-gradient(to left, #9733ee, #6f42c1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* FOOTER */
middle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
  .btn{
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
  }
  .btn i{
    line-height: 75px;
    font-size: 26px;
    transition: 0.2s linear;
  }
  .btn:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
  }
  .btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }
  .btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  }

  footer {
    background: linear-gradient(to left, #9733ee, #6f42c1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.9;
  }

  @keyframes aaa {
    0%{
      left: -110%;
      top: 90%;
    }50%{
      left: 10%;
      top: -30%;
    }100%{
      top: -10%;
      left: -10%;
    }
  }
  